:root {
    --text: #000000;
    --background: #eef7f4;
    --primary-button: #0e6acd;
    --secondary-button: #f3bfbf;
    --accent: #85daff;

    --ff-headline: 'Montserrat', sans-serif; 
    --ff-text: 'Hind', sans-serif;
    --ff-mark: var(--ff-text);
}

body {
    margin: 0;
    font-family: var(--ff-text);
    color: var(--text);
    background-color: var(--background);
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-headline);
}
h1 {
    color:#0e6acd;
    font-weight: 700;
    font-size: 4rem;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--accent);
}

a:focus, a:focus-within, a:focus-visible {
    color: var(--primary-button);
}

mark {
    font-family: var(--ff-mark);
    background-color: var(--background);
    color: var(--primary-button);
}

::marker {
    content: "";
}
.linksbuendig {
    text-align: left;
}


/* LAYOUT */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    width: calc(100% - 2rem);
    height: 23px;
    padding: 1rem;
    background-color: var(--secondary-button);
    font-size: 1.2rem;
}
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: calc(100% - 4rem);
    margin: 0 2rem;
}
footer {
    display: flex;
    justify-content: center;
    height: 55px;
    font-style: italic;
}

/* Buttons */
button {
    background-color: #85daff ; /* blue */
    border: none;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: fit-content;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 30%; grid-column: 3 / 5; grid-row: 3 / 3;}

/* Text Media */

p {
    width: min(100% - 3rem,55ch);
}

.text-media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 3rem;
}

.media {
    padding-top: 1em;
    width: min(100% - 3rem,55ch);
}

.media img {
    width: 100%;
}

/* Formulare */

.form {
    
}

.form-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.8em;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.form__input {
    border-radius: 8px;
    min-width: 35ch;
}

label {
    font-weight: bold;
}

.desc-submit {
    display: flex;
    flex-direction: row;
}

/* Special Formular Elements */

.input-message {
    height: 9rem;
}

/* Formular Modifier */

.form--login {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.form--contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: min(100%, 120ch);
}
